<%- include('../layout/head')%>

<div class="login-page">
    <div class="card">
        <% if(message) {%>
        <div class="error-container">
            <p class="error-message"><%=message%></p>
        </div>
        <%}%>
        <div class="card-header">
            <h1>Forgot password</h1>
        </div>

        <form action="/auth/forgot-password" method="post" class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" name="email" id="email" required>
                <label class="custom-placeholder">Email</label>
            </div>

            <div class="btn-group">
                <button type="submit" class="btn">Send</button>
            </div>

            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        </form>
    </div>
</div>

<%- include('../layout/footer')%>