<%- include('../layout/head')%>
    <div class="pageNotFoundPage-page">
        <div class="item">
            <div>
                <h1>Page not found</h1>
            </div>

            <div>
                <h2>Welcome to </h2>
            </div>

            <div>
                <h1>404</h1>
            </div>
        </div>

    </div>
    <%- include('../layout/footer')%>