<%- include('./head')%>
    <div class="navigation">
        <div class="left-side">
            <div class="nav-item watermark">
                <a href="/home"><span class="first">C</span><span class="second">$</span><span class="third">5</span><span
                        class="fourth">0</span> <span class="fifth">Finance</span></a>
            </div>

            <div class="nav-item">
                <a href="/quote">Quote</a>
            </div>

            <div class="nav-item">
                <a href="/buy">Buy</a>
            </div>

            <div class="nav-item">
                <a href="/sell">Sell</a>
            </div>

            <div class="nav-item">
                <a href="">History</a>
            </div>
        </div>

        <div class="right-side">
            <form action="/auth/logout" method="post">
                <button type="submit" class="logout-btn">Log Out</button>

                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            </form>
        </div>
    </div>
    <%- include('./footer')%>