<!-- <main class="container">


    <div class="table-header">
        <p>Symbol</p>
    </div>

    <div class="table-header">
        <p>Name</p>
    </div>

    <div class="table-header right-side">
        <p>Shares</p>
    </div>

    <div class="table-header right-side">
        <p>Price</p>
    </div>

    <div class="table-header right-side">
        <p>TOTAL</p>
    </div>

    <div class="horizontal-line">
    </div>


    <div class="item">
        <p>NFLX</p>
    </div>

    <div class="item">
        <p>Netfilx inc.</p>
    </div>

    <div class="item right-side">
        <p>2</p>
    </div>

    <div class="item right-side">
        <p>$290</p>
    </div>

    <div class="item right-side">
        <p>$580</p>
    </div>

    <div class="horizontal-line-thin">
    </div>

    <div class="item">
        <p>NFLX</p>
    </div>

    <div class="item">
        <p>Netfilx inc.</p>
    </div>

    <div class="item right-side">
        <p>2</p>
    </div>

    <div class="item right-side">
        <p>$290</p>
    </div>

    <div class="item right-side">
        <p>$580</p>
    </div>

    <div class="horizontal-line-thin">
    </div>
    <div class="item">
        <p>NFLX</p>
    </div>

    <div class="item">
        <p>Netfilx inc.</p>
    </div>

    <div class="item right-side">
        <p>2</p>
    </div>

    <div class="item right-side">
        <p>$290</p>
    </div>

    <div class="item right-side">
        <p>$580</p>
    </div>

    <div class="footer-a">
        <p>Cash</p>
    </div>

    <div class="footer-b">
        <p>$10,000.00</p>
    </div>

    <div class="footer-a">
        <p>TOTAL</p>
    </div>

    <div class="footer-b">
        <p>$10,000.00</p>
    </div>
</main> -->